.control {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  & .radio {
    font-size: 2rem;
  }
  & .input {
    font-size: 1.5rem;
  }
  & .label {
    width: 50%;
  }
}

.label {
  font-size: 2rem;
  margin-bottom: 0 !important;
}

.rsvpForm {
  width: 80%;
  margin: 2rem auto 0;

  & .field {
    margin-bottom: 2rem;
  }
}
.h3Form {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 2rem;
}
