.is-3by2 {
  width: 300px;
  height: 250px;
  margin: auto;
}

.bridal_image {
  width: 30rem;
  background-size: cover;
  margin: auto;
}

.is-bordered {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.vera_vincenzo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 60vw;
  opacity: 1;
  -webkit-transition: background 1.5s ease-in-out;
  -moz-transition: background 1.5s ease-in-out;
  -o-transition: background 1.5s ease-in-out;
  -ms-transition: background 1.5s ease-in-out;
  transition: background 1.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}
