.is-3by2 {
  width: 300px;
  height: 250px;
  margin: auto;
}

.bridal_image {
  width: 30rem;
  background-size: cover;
  margin: auto;
}

.vera_vincenzo {
  background-repeat: no-repeat;
  background-image: url('/images/vera_vincenzo/IMG_0001.JPG');
  background-size: cover;
  background-position: center;
  height: 55vh;
  width: 85vw;
}
