.hWeddingItinerary {
    font-size: 4rem;
    font-weight: bold;
}

.paragraphWeddingItinerary {
    font-size: 2.5rem;
}

.paragraphRegistry {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.hRegistry {
    font-weight: 100;
    font-size: 6.8rem;
}

.mapWeddingItinerary {
    margin-top: 5rem;
    padding-bottom: 0;
}
