.hero-body {
  padding-top: 5rem !important;
}

.hWeddingItinerary {
  font-size: 4rem;
  font-weight: bold;
}

.hRegistry {
  font-weight: 100;
  font-size: 6.8rem;
}

.location {
  margin-top: -50px;
  margin-bottom: -50px !important;
  padding: 2rem;
  @include respond(tab-scape) {
    margin-top: -40px;
  }

  @include respond(tab-port) {
    margin-top: -30px;
  }
  @include respond(phone) {
    margin-top: -30px;
  }
}

.locationWrapper {
  position: relative;
  padding-bottom: 100%;
  margin-top: 0;

  @include respond(tab-scape) {
    margin-top: 0;
  }

  @include respond(phone) {
    margin-top: -70px;
  }

  & iframe {
    position: absolute;
    top: 13%;
    width: 100%;
    height: 69%;
    @include respond(tab-scape) {
      width: 95%;
    }
  }
}
