body {
  font-weight: 400;
  line-height: 1.7;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2rem;
  }
}

.heading-tertiary {
  letter-spacing: 0.2rem;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.heading-lowercase {
  text-transform: lowercase;
  font-weight: normal;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.smallParagraph {
  font-size: $default-small-font-size;
}

.paragraphLocations {
  font-size: 2rem;
  margin-bottom: 0 !important;
}

.airport {
  font-weight: bold;
}

.paragraphWeddingItinerary {
  font-size: 2.5rem;
}

.paragraphRegistry {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.paragraphQuote {
  margin-top: 5rem;
  font-size: $default-quote-font-size;
}

.storyParagraph {
  font-size: $our-story-font-size;
}

.ourStoryHeader {
  font-style: italic;
  font-size: $our-story-font-size;
}
.bold {
  font-weight: bold;
}

.emailUs {
  font-size: 2rem;
}
