$color-primary: #2998ff;
$color-primary-light: #66acec;
$color-primary-dark: #190445;

$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-tbc-primary: #2998ff;
$color-tbc-secondary: #00f8d2;

$color-bmw-primary: #1422dfc7;
$color-bmw-secondary: #7f77f7;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-beige-light: #c8c2a1;
$color-beige-dark: #694343;
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-blue-dark: #205081;
$color-red: #de1010;
$color-red-dark: #ad0505;

$color-1-gradient: #fdfcfb;
$color-2-gradient: #e2d1c3;

// Fonts
$default-quote-font-size: 3rem;
$our-story-font-size: 2.5rem;
$default-font-size: 1.8rem;
$default-small-font-size: 1.5rem;
//$default-font-family: 'Crafty Girls', cursive;

//$default-font-family: 'Indie Flower', cursive;
//$default-font-family: 'Ibarra Real Nova', serif;
$default-font-family: 'Lemonada', cursive;
$default-font-family: 'Vidaloka', serif;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
